.language-container{
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:white;
}
.language-input{
    height:30px;
    width:300px;
    color:#474242;
    border:1px solid #b5b1b1;
    border-radius:5px;
    font-size:12px;
    padding:3px;
}
.language-submit-btn{
    height:25px;
    width:100px;
    color:#ffffff;
    font-size:12px;
    font-weight:800px;
    border:none;
    border-radius:5px;
    background-color: #46aae3;
    margin-top:10px;
    margin-left:90px;
}
.program-img{
    height:300px;
    width:400px;
    margin-bottom:10px;
}